@use '../base' as *;

nav {
    padding: 
    clamp(1.25rem, 1.0714285714285714rem + 0.8928571428571428vw, 1.875rem) 
    clamp(1.25rem, 0.3571428571428571rem + 4.464285714285714vw, 4.375rem);
    
    border-bottom: 2px solid var(--white);
    ul {
        // max-width: 90rem;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            a {
                p {
                    @include hover--gradient
                }
            }
        }
    }
}