:root {
    --black: hsl(0, 100%, 0%);
    --white: hsl(0, 100%, 100%);
    --focus-gradient: linear-gradient(90deg, rgba(232,117,190,1) 0%, rgba(255,255,255,1) 50%, rgba(141,255,99,1) 100%);; 
    --transparent: rgb(255, 255, 255, 0);
}