@use 'colors';

body {
    background-color: var(--black);
    max-width: 1600px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: var(--white);
}

section {
    padding: 
    clamp(4.375rem, 3.90625rem + 2.34375vw, 6.25rem)
    clamp(1.25rem, 0.3571428571428571rem + 4.464285714285714vw, 4.375rem)
    clamp(4.375rem, 3.90625rem + 2.34375vw, 6.25rem)
    clamp(1.25rem, 0.3571428571428571rem + 4.464285714285714vw, 4.375rem); 
    margin-inline: auto;
}
