.project {
    max-width: 100%;
    height: fit-content;
    object-fit: contain;

    &__cover {
        object-fit: cover;
    }
}

.ui {
    width: clamp(0.9375rem, 0.49107142857142855rem + 2.232142857142857vw, 2.5rem);
    margin-left: 1.25rem;
}

.cta__emoji {
    width: clamp(3.125rem, 1.8392857142857144rem + 6.428571428571428vw, 7.625rem);
}

.arrow__large {
    width: clamp(1.875rem, 0.8035714285714286rem + 5.357142857142857vw, 5.625rem);
    margin-right: 1.5625rem;
}