@use 'colors';

@mixin hover--gradient {
    background: var(--focus-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color:var(--white);
    width: fit-content;
    transition: all .1s ease-in-out; 

    &:hover, &:active{
        color: var(--transparent);
    } 
}

@mixin hover--arrow {
    .ui {
        transition: margin-left .1s ease-in;
        }
    
        &:hover .ui {
        margin-left: 1.5625rem;
        }
}

@mixin top {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity .4s ease;
}

@mixin behind {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .5s ease;
}