@font-face {
    font-family: "Millimetre Bold";
    font-weight: bold;
    src: url(/src/assets/fonts/Millimetre-Bold_web.woff2);
}

@font-face {
    font-family: "Inter Regular";
    font-weight: 400;
    src: url(/src/assets/fonts/Inter-Regular.woff2);
}
@font-face {
    font-family: "Inter Bold";
    font-weight: bold;
    src: url(/src/assets/fonts/Inter-Bold.woff2);
}

// Headings

h1 {
    font-family: "Millimetre Bold";
    font-size: clamp(4rem, 1.9285714285714288rem + 10.357142857142856vw, 11.25rem);
    text-transform: uppercase;
    line-height: 100%;
}

h2 {
    font-family: "Millimetre Bold";
    font-size: clamp(2.5rem, 0.7142857142857142rem + 8.928571428571429vw, 8.75rem);
    text-transform: uppercase;
    line-height: 100%;
}

h3 {
    font-family: "Millimetre Bold";
    font-size: clamp(2.5rem, 1.7857142857142858rem + 3.571428571428571vw, 5rem);
    text-transform: uppercase;
    line-height: 100%;
}

// Body

p {
    font-family: Inter Regular;
    line-height: 120%;

    &.large {
        font-size: clamp(1rem, 0.5714285714285714rem + 2.142857142857143vw, 2.5rem);
    }

    &.medium {
        font-size: clamp(0.75rem, 0.5357142857142857rem + 1.0714285714285714vw, 1.5rem);
    }

    &.bold {
        font-family: Inter Bold;
    }

    &.uppercase {
        text-transform: uppercase;
    }
}
